<nav class="bg-black border-end border-secondary d-flex flex-column p-2" style="width: 80px;">
    <a href="/" class="text-light nav-link py-3 text-center">
        <i class="bi bi-house fs-4"></i>
        <div class="small">Home</div>
    </a>
    <a href="/map" class="text-light nav-link py-3 text-center">
        <i class="bi bi-map fs-4"></i>
        <div class="small">Map</div>
    </a>
    <a href="/lineup" class="text-light nav-link py-3 text-center">
        <i class="bi bi-music-note-list fs-4"></i>
        <div class="small">Lineup</div>
    </a>
    <a href="/schedule" class="text-light nav-link py-3 text-center">
        <i class="bi bi-calendar-event fs-4"></i>
        <div class="small">Schedule</div>
    </a>
    <a href="/more" class="text-light nav-link py-3 text-center">
        <i class="bi bi-three-dots fs-4"></i>
        <div class="small">More</div>
    </a>
</nav>
