@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Actions { get; set; }
}

<section class="p-3 border-bottom border-secondary">
    <div class="d-flex align-items-center mb-2">
        <h5 class="mb-0 flex-grow-1">@Title</h5>
        <div>@Actions</div>
    </div>
    <div>
        @ChildContent
    </div>
</section>