<nav class="navbar navbar-dark bg-black border-top border-secondary">
    <ul class="nav nav-justified w-100">
        <li class="nav-item">
            <a class="nav-link text-light" href="/"><i class="bi bi-house"></i><div>Home</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/map"><i class="bi bi-map"></i><div>Map</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/lineup"><i class="bi bi-music-note-list"></i><div>Lineup</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/schedule"><i class="bi bi-calendar-event"></i><div>Schedule</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/more"><i class="bi bi-three-dots"></i><div>More</div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/ThemeTest"><i class="bi bi-three-dots"></i><div>ThemeTest</div></a>
        </li>
    </ul>
</nav>
