@page "/"
@using FestivalMapper.App.Components.Home
@using FestivalMapper.App.Components.Layout

<h1>
    Welcome to Festival Mapper!
</h1>
<p class="text-light">The #1 app for keeping track and planning your festival experience regardless of internet status.</p>

<button class="btn btn-primary">
    Get Started
</button>


@code {
  [Inject] NavigationManager Nav { get; set; } = default!;

  Task HandleFindFestival()
  {
      Nav.NavigateTo("/search");
      return Task.CompletedTask;
  }

  Task HandleScanQr()
  {
      // TODO: open QR flow / permission prompt
      // e.g., show a dialog component or navigate to /scan
      Nav.NavigateTo("/scan");
      return Task.CompletedTask;
  }

  Task HandleOpenSchedule()
  {
      Nav.NavigateTo("/schedule");
      return Task.CompletedTask;
  }
}
