@page "/"
@using FestivalMapper.App.Components.Festival
@using FestivalMapper.App.Components.Home
@using FestivalMapper.App.Components.Layout
@using FestivalMapper.App.Models

<PageSection>
    <h1>Welcome to <span class="text-primary">Festival Mapper</span>!</h1>
    <p class="text-muted">The #1 app for keeping track and planning your festival experience regardless of internet connection.</p>
</PageSection>

<FestivalList Festivals="@Festivals" OnShare="ShareFestival" />

@code {
    List<Festival> Festivals = new()
    {
        new(Guid.NewGuid(), "EDC", new DateOnly(2025, 5, 15), new DateOnly(2025, 5, 17), "Las Vegas", "NV", null, "", new List<Stage>()),
        new(Guid.NewGuid(), "Nocturnal Wonderland", new DateOnly(2025, 9, 13), new DateOnly(2025, 9, 14), "San Bernardino", "CA", null, "", new List<Stage>()),
        new(Guid.NewGuid(), "Escape Wonderland", new DateOnly(2025, 10, 31), new DateOnly(2025, 11, 1), "San Bernardino", "CA", null, "", new List<Stage>()),
        new(Guid.NewGuid(), "Wasteland", new DateOnly(2025, 8, 29), new DateOnly(2025, 8, 30), "San Bernardino", "CA", null, "", new List<Stage>()),
        new(Guid.NewGuid(), "Countdown", new DateOnly(2025, 12, 31), new DateOnly(2026, 1, 1), "Los Angeles", "CA", null, "", new List<Stage>()),
    };


    Task ShareFestival(Guid Id)
    {
        // TODO: open share dialog / copy link
        return Task.CompletedTask;
    }
}
