@page "/"
@using FestivalMapper.App.Components.Festival
@using FestivalMapper.App.Components.Home
@using FestivalMapper.App.Components.Layout

<div class="row">
    <div class="col">
        <h1>
            Welcome to <span class="text-primary">Festival Mapper</span>!
        </h1>
        <p class="text-muted">The #1 app for keeping track and planning your festival experience regardless of internet connection.</p>
    </div>
</div>



<PageSection Title="Upcoming Festivals">
    <FestivalList Festivals="@Upcoming" OnShare="ShareFestival" />
</PageSection>

<PageSection Title="Past Festivals" TitleStyle="text-secondary">
    <FestivalList Festivals="@Past" OnShare="ShareFestival" />
</PageSection>


@code {
    List<FestivalList.FestivalVm> Upcoming = new()
    {
        new(1, "EDC", new DateTime(2025, 10, 10), new DateTime(2025, 10, 12), "Las Vegas", "NV"),
        new(2, "Nocturnal Wonderland", new DateTime(2025, 9, 13), new DateTime(2025, 9, 14), "San Bernardino", "CA"),
    };

    List<FestivalList.FestivalVm> Past = new()
    {
        new(1, "EDC", new DateTime(2025, 10, 10), new DateTime(2025, 10, 12), "Las Vegas", "NV"),
        new(2, "Nocturnal Wonderland", new DateTime(2025, 9, 13), new DateTime(2025, 9, 14), "San Bernardino", "CA"),
    };


    Task ShareFestival(FestivalList.FestivalVm festival)
    {
        // TODO: open share dialog / copy link
        return Task.CompletedTask;
    }
}
